<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/main.css') }}>
    <title>Tech Challenge</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}
      <div class="content-box">
        <img src='static/img/logo.png' />
        <h1>Version Number: {{ version }}</h1>
      </div>
    {% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
