body {
  background: white;
}
p {
  color: black;
  font-family: 'PT Sans';
  font-size: 24px;
  float: right;
  padding-right: 20px;
  margin-top: 50%;
}
.content-box {
  width: 100%;
  height: 85%;
}
.content-box img {
  top: 25%;
  left: 25%;
  position: fixed;
}
.content-box p {
  padding-right: 5%;
  margin-top: 35%;
}

